@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

@font-face {
    font-family: 'Sodo Sans SemiBold';
    src: url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
    font-weight: 300;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "SoDo Sans SemiBold",Helvetica Neue,Helvetica,Arial,sans-serif;  
}

.container {
    max-width: 1440px;
    margin: auto;
}

.navbar {
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1560px;
    margin: auto;   
}

.navbar-container{
  box-shadow: 0px 0px .5px 0px rgba(0,0,0,.14),0px 1px 1px 0px rgba(0,0,0,.24);
}

.navbar-svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-left, 
.navbar-right {
    
    display: flex;
    align-items: center;
    
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.find-a-store {
    display: flex;
    align-items: center;
    
}

.find-a-store svg {
    margin-right: 10px;
}

.sign-in, 
.join-now {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px;
}

.join-now  {
    background-color: black;
    color: white;
}

.hover:hover,
.find-a-store:hover {
    color: #00754a;
    cursor: pointer;
}


.join-now:hover {
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
    cursor: pointer;
    
}

.sign-in:hover {
    background-color: rgba(0,0,0,.06);
    cursor: pointer;
}

.product img {
    max-width: 100%;
}

.product-title {
    font-size: 22px;
    color: #1e3932;
    text-align: center;
    margin: auto;
    
}

.product-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-description {
    font-size: 19px;
    line-height: 1.75;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
    
}

.product-button {
    text-align: center;
    border: 1px solid #1e3932;
    border-radius: 40px;
    max-width: max-content;
    padding: 5px 20px;
    margin: auto;
    
}

.product-button:hover{
    background-color: rgba(0,0,0,.06);
    cursor: pointer;
}

.product {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}

.product-left,
.product-right {
    max-width: 50%;
}